<nav class="navbar navbar-light border-bottom d-flex justify-content-center bg-primary" style="height: 70px;">
  <h5 class=" text-white p-2 sticky-top" href="#">No disponible</h5>
</nav>
<div class="col-12 d-flex justify-content-center mt-4">
  <div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">Curso suspendido</h4>
    <p>Este curso ha sido suspendido de manera indefinida por el administrador, te mantendremos al tanto ante cualquier noticia. Te pedimos disculpas.</p>
    <hr>
    <a class="btn btn-link" appVolver>Volver</a>
  </div>
</div>
