<div  class="card bg-fourth">
    <div class="card-header bg-secondary text-fourth" style="min-height: 55px;">
        <span>{{ Titulo }}</span>
        <svg *ngIf="MostrarBoton" class="float-right text-third" (click)="navegar()" type= "button" width="30px" height="30px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
        </svg>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>


